body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

p {
    font-size: 15px;
    color: rgb(176, 184, 184);
}

.card {
    border-radius: 4%;
    text-align: center;
    width: 18rem;
}

.card-img-top {
    padding: 20px;
    border-radius: 10%;
    /* margin: 0 auto; */
    /* box-shadow: 0 0 10px rgba(0,0,0,.2); */
}

.card-title {
    font-weight: 700;
    padding-bottom: 5px;
}